.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a73434;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.title {
  margin-bottom: 0;
}

.contactsMessage {
  margin-top: 0.8rem;
}

.contacts {
  display: flex;
  gap: 2rem;

  a {
    color: inherit;
    text-decoration: inherit;
}
}
